@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	scroll-behavior: smooth;
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
		Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

@layer components {
	.page {
		@apply max-w-screen-lg mx-auto px-4 sm:px-0 py-8 h-full;
	}
	.nav-icon {
		@apply h-6 w-6 text-gray-500;
	}
	.form-root {
		@apply bg-white px-4 py-8 shadow rounded w-full sm:w-2/3 lg:w-1/2 md:py-10 md:px-8;
	}
	.form-control-group {
		@apply w-full mb-4;
	}
	.form-control-label {
		@apply block mb-2 text-sm font-medium text-gray-900;
	}
	.form-control-input {
		@apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-orange-500 focus:border-orange-500 focus:outline-orange-500 block w-full p-2.5;
	}
	.btn-primary {
		@apply text-white bg-orange-500 hover:bg-orange-700 focus:ring-4 focus:ring-orange-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 focus:outline-none;
	}
	.btn-outlined {
		@apply py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-orange-700 focus:z-10 focus:ring-4 focus:ring-gray-200;
	}
	.link {
		@apply font-medium text-orange-600 dark:text-orange-500 hover:underline;
	}
}
